
.container{
    display: flex;
    height: 665px;
    max-width: 1440px;
    margin: auto;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: url("../images/bg-main-desktop.png") center no-repeat;
    background-size: cover;
    width: 30%;
}

.cards .card{
    position: absolute;
    color: #ffffff;
    box-shadow: 5px 0px 15px #645d5d64;
    border-radius: 3%;
    width: 339px;
    height: 186px;
}

.cards .card.front{
    display: flex;
    flex-direction: column;
    right: -90px;
    top: 35%;
    transform: translateY(-50%);
    background: url("../images/bg-card-front.png") center no-repeat;
    background-size: contain;
    padding: 20px 32px;
}

.cards .card.front .logo{
    width: 75px;
}

.cards .card.front .number{
    font-size: 2.5rem;
    margin: 50px 0 10px 0;
}

.cards .card.front .card-info{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
}

.cards .card.back{
    right: -150px;
    bottom: 19%;
    background: url("../images/bg-card-back.png ") center no-repeat;
    background-size: contain;
}

.cards .card.back span{
    position: absolute;
    right: 45px;
    top: 83px;
    font-size: 1.3rem;
}

.card-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.card-details .form{
    width: 365px;
}

.card-details .form p{
    font-size: 1.4rem;
}


.card-details .form input{
    font-size: 1.5rem;
    border-radius: 7px;
    border: solid 1px rgb(200, 196, 196);
    margin-bottom: 3px;
    padding: 12px;
    width: 100%;
}

.card-details .form .date,
.card-details .form .cvc{
    display: inline-block;
    width: 49%;
}

.card-details .form .cvc{
    margin-left: 3px;
}

.card-details .form .date .verification{
    display: inline-block;
    margin-right: 4px;
    width: 45%;
}

.card-form .card-details .btn-confirm,
.card-form .completed-state .btn-continue{
    background-color: #21092f;
    color: #ffffff;
    font-size: 1.7rem;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
}

.card-details .verification{
    padding: 6px 0 25px 0;
}

.card-details .span-blank,
.card-details .span-wrong{
    display: none;
}

.card-details .verification.blank,
.card-details .verification.wrong-format{
    padding: 6px 0 11px 0;
}

.card-details .verification.blank input,
.card-details .verification.wrong-format input{
    border-color: #ff5252;
}

.card-details .verification.blank .span-blank,
.card-details .verification.wrong-format .span-wrong{
    display: block;
    font-size: 1.1rem;
    color: #ff5252;
}

.card-form .completed-state.show{
    display: flex;
}

.card-form .completed-state{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 365px;
}

.card-form .completed-state .completed-image{
    width: 80px;
}

.card-form .completed-state .info{
    text-align: center;
}

.card-form .completed-state .info .title{
    font-size: 3rem;
    margin-bottom: 13px;
}

.card-form .completed-state .info .message{
    color: #6b6670;
    font-size: 1.7rem;
}

.attribution {
    background-image:linear-gradient(to right,#600594,#ffffff, #ffffff, #ffffff,#600594);
    border-radius: 0 0 7px 7px;
    font-size: 1.4rem;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.attribution a{
    color: #600594;
}

.attribution a:hover{
    text-decoration: underline;
}