.container{
    display: flex;
    height: 700px;
    max-width: 1440px;
    margin: auto;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: url("../images/bg-main-desktop.png") center no-repeat;
    background-size: cover;
    width: 30%;
}
.cards .card{
    position: absolute;
    color: #ffffff;
    box-shadow: 5px 0px 15px #645d5d64;
    border-radius: 3%;
    width: 339px;
    height: 186px;
}

.cards .card.front{
    display: flex;
    flex-direction: column;
    right: -90px;
    bottom: 35%;
    transform: translateY(-50%);
    background: url("../images/bg-card-front.png") center no-repeat;
    background-size: contain;
    padding: 20px;
}
.cards .card.front .logo{
    width: 75px;
}
.cards .card.front .number{
    text-align: center;
    font-size: 2.5rem;
    margin: 45px 0 10px 0;
}
.cards .card.front .card-info{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
}

.cards .card.back{
    right: -150px;
    bottom: 19%;
    background: url("../images/bg-card-back.png ") center no-repeat;
    background-size: contain;
}
.cards .card.back span{
    position: absolute;
    right: 45px;
    top: 83px;
    font-size: 1.3rem;
}

.card-form{
    display: flex;
    align-items: center;
    width: 70%;
}
.form-data{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-data .form{
    width: 365px;

}
.form-data .fields{
    padding: 6px;
}
.form-data .form label{
    font-size: 1.4rem;
}
.form-data .form input{
    font-size: 1.5rem;
    border-radius: 7px;
    border: solid 1px #c8c4c4;
    margin-bottom: 3px;
    padding: 12px;
    width: 100%;
}
.form-data .form input:focus{
    outline: none;
}

.form-data .form .date-and-cvc{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}
.form-data .form .date-and-cvc input{
    width: 91px;
}
.form-data .form .date-and-cvc label{
    padding-left: 6px;
}
.form-data .form .date-and-cvc .cvc{
    width: 30%;
}
.form-data .form .date-and-cvc .due-date{
    width: 70%;
}
.form-data .form .date-and-cvc .due-date .month-year{
    display: flex;
    justify-content: flex-start;
}

.card-form .form-data .btn-confirm.disabled{
    pointer-events: none;
    opacity: 0.85;
}
.card-form .form-data .btn-confirm,
.card-form .completed-state .btn-continue{
    background-color: #21092f;
    color: #ffffff;
    font-size: 1.7rem;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
}

.form-data .fields .blank,
.form-data .fields .wrong{
    display: none;
    font-size: 1.1rem;
    color: #ff5252;
    padding: 6px 0 0 6px;
}
.form-data .fields.error-blank .blank,
.form-data .fields.error-wrong .wrong{
    display: block;
}

.card-form .completed-state{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 100%;
}
.card-form .completed-state .completed-image{
    width: 80px;
}
.card-form .completed-state .info{
    text-align: center;
}
.card-form .completed-state .info .title{
    font-size: 3rem;
    margin-bottom: 13px;
}
.card-form .completed-state .info .message{
    color: #6b6670;
    font-size: 1.7rem;
}
.card-form .completed-state .btn-continue{
    width: 300px;   
}